<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Social Stocks</title>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@600;900&display=swap" rel="stylesheet">
        <style>
            * {
              box-sizing: border-box;
            }
            
            .column {
              float: left;
              width: 70%;
              padding: 2px;
            }
            
            .row:after {
              content: "";
              display: table;
              clear: both;
            }
        </style>
    </head>
    <body style="background: rgb(8, 77, 122);">
        <div class="row" style="font-family:'Tourney',cursive;">
            <h1 style="font-weight:600;">Social Stocks</h1>
            <div class="column"><h3 style="font-weight:900;">Welcome to Social Stocks, a graphical data and analysis tool by,<br>TomCo (Technology & Online Media Company)<sup>&trade;&copy;</sup></h3></div>
            <div class="column" style="width: 30%;"><img src="../public/assets/logo.png" alt="TomCo Logo" style="float:right;" width="275" height="120"></div>
        </div>
        <hr>
        <br>
        <canvas id="chart"></canvas><br>
        <button type="button" id="chart-refresh-submit">Reload Graph</button>
        <select id="chart-filter-select">
            <option value="" default>Today</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="week">Weekly</option>
        </select>
        <button type="button" id="chart-swap-submit">Switch Graph</button>
        <br>
        <hr>
        <form id="find-bucket">
            <input required id="find-bucket-input" type="text" placeholder="Bucket Name"/>
            <button type="button" id="find-bucket-submit">Find Bucket</button>
            <div id="find-bucket-message"></div>
        </form>
        <br>
        <form id="create-bucket">
            <input id="create-bucket-input" type="text" placeholder="Bucket Name"/>
            <button type="button" id="create-bucket-submit">Create Bucket</button>
            <div id="create-bucket-message"></div>
        </form>
        <br>
        <form id="list-objects">
            <input required id="list-objects-input" type="text" placeholder="Bucket Name"/>
            <button type="button" id="list-objects-submit">List Objects</button>
            <table id="list-objects-list"></table>
        </form>
        <br>
        <form id="find-object">
            <input required id="find-object-input-bucket" type="text" placeholder="Bucket Name"/><br>
            <input required id="find-object-input-object" type="text" placeholder="Object Name"/>
            <button type="button" id="find-object-submit">Find Object</button>
            <div id="find-object-message"></div>
        </form>
        <br>
        <form id="upload-file">
            <input id="upload-file-input-bucket" type="text" placeholder="Bucket Name"/>
            <button type="button" id="upload-file-submit">Upload File</button><br>
            <input id="upload-file-input-file" type="file"/>
            <div id="upload-file-message"></div>
        </form>
        <br>
        <form id="download-file">
            <input required id="download-file-input-bucket" type="text" placeholder="Bucket Name"/><br>
            <input required id="download-file-input-object" type="text" placeholder="Object Name"/>
            <button type="button" id="download-file-submit">Download File</button><br>
            <div id="download-file-message"></div>
        </form>
        <br>
        <form id="tweet-rules">
            <input id="tweet-rules-input-rule" type="text" placeholder="Rule (e.g.'#2021')"/><br>
            <input id="tweet-rules-input-desc" type="text" placeholder="Rule Description"/><br>
            <input id="tweet-rules-input-id" type="text" placeholder="Rule ID"/><br>
            <select name="tweet-rules-input-req" id="tweet-rules-input-req">
              <option value="get">Get All Rules</option>
              <option value="add">Add New Rule</option>
              <option value="delete">Delete A Rule</option>
            </select> 
            <button type="button" id="tweet-rules-submit">Tweet Rules</button>
            <div id="tweet-rules-message"></div>
        </form>
        <br>
        <form id="tweet-stream">
            <input id="tweet-stream-input-number" type="text" placeholder="[Optional] # of Tweets"/><br>
            <select id="tweet-stream-input">
              <option value="open">Open Stream</option>
              <option value="close">Close Stream</option>
            </select><br>
            <select id="tweet-stream-input-capture">
                <option value="true">Store</option>
                <option value="false">View</option>
              </select>
            <button type="button" id="tweet-stream-submit">Tweet Stream</button>
            <div id="tweet-stream-message"></div>
        </form>
        <br>
    </body>
</html>